body{
  background-color: white;
}
.section-portada{
  width: 100%;
  height: 87vh;

}
.icono{
  display: inline-block;
  width: 100%;
  height: 300px;
}
.icon--hero-bg{
  background-position: center;
  background-size: cover;
}






/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  ...
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  .icon--hero-bg{
    background-position: center;
    background-size: cover;
  }
}
