body{
  font-family: "proxima-nova-soft";
}
@font-face {

  font-family: "proxima-nova-soft";

  font-style: normal;

  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");

}

/*Estilos del prombar */
.promo {
  color: white;
	position: absolute;
	background-color: #ed7161;
	z-index: 2;
	width: 100%;
  height: 30px;
	top:0px;
  padding: 5px;
  text-align: center;
}
.promo span{
  font-weight: bold;
}
.promo p {
	font-size: 1em;
  letter-spacing: 1px;
}
a.icon-close{
	width: 20px;
	height: 20px;
	background-size: contain;
	position: absolute;
	top:2px;
	right:1%;
}

/*Secction hero */
.bg-hero,
.bg-icon-hero {
	width:100%;
	background-position: center center;
	background-size:cover;
	height: 460px;
}
.hero{
  position: relative;
}
span.icon--hero-park {
	width: 230px;
	height: 230px;
	background-size: contain;
	position: absolute;
	top:250px;
	left:13%;
}

span.icon--hero-bench {
	position: absolute;
	width: 110px;
	height: 110px;
	background-size:contain;
	top:431px;
	left:65%;
}


/* Navbar del header */
div.navbar--desktop {
	margin-top:2%;
	left: 5.5%;
}

nav.navbar {
	border: none;
}
nav.navbar-default{
	background-color: #9accef;
	width: 60%;
	top: 10px;
	left: 5%;
}

img.logo-nav {
	width: 65px;
	bottom:5px;
}


nav.navbar-default ul.navbar-nav>li>a {
    color: #fff;
    font-size: 1.3em;
}

p.navbar-text {
	position: relative;
	bottom: 65px;
	left:-5%;
}


i.glyphicon.glyphicon-user {
	border: 1px solid;
	width: 25px;
	height: 25px;
	padding-top: .8%;
	font-size: 1.2em;
	border-radius: 20px;
}

span.navbar--email{
	font-size: 1.2em;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: none;
}


h1.titulo-desktop{
	font-size: 5em;
	margin-bottom: 0;
}

a.btn--desktop{
		width: 230px;
		border-radius:20px;
		background-color: #3498DB;
		box-shadow: inset 0px 0px 0px 2px transparent;
		margin-top: 20px;
	}



/*Definición de las medias y los breakpoints de Bootstrap */

/*Mobile 0-767*/
@media screen and (max-width:767px){

	header.header--desktop{
		display: none;
	}

	span.icon--hero-park {
		left:3%;
	}

	span.icon--hero-bench {
		left: 80%;
	}
 	header.header--mobile{
		top:80px;
	}

	div.img--mobile img{
		width: 120px;
	}

	h1.titulo--mobile {
	 font-size: 1.8em;

	}

	div.button--mobile {
		margin-top:25px;
	}

	button.btn--mobile{
		width: 230px;
		border-radius:20px;
		background-color: #3498DB;
		box-shadow: inset 0px 0px 0px 2px transparent;
	}


  }
  /*tablet 768-992*/

  @media screen and (min-width:768px) and (max-width:992px){

  	header.header--mobile {
  		display: none;
  	}


  	p.navbar-text {
  		left:-10%;
  	}




  }
  /*Destopk 993-1200*/
  @media screen and (min-width:993px){

   header.header--mobile {
  		display: none;
  	}

  p.navbar-text {
  	left: -10%;
  	}

  }




.section-portada{
  width: 100%;
  height: 460px;
}



.works{
  background-color: #F9F9F9;
  padding-top: 10%;
}
.work-icono{
  width: 225px;
  height: 225px;
  background-color: #FFCC66;
  position: relative;
  .center-block();
}
.icono{
  display: inline-block;
  width: 175px;
  height: 175px;
  position: absolute;
  top: 10%;
  left: 10%;
  background-size: contain;
}
.mb-10{
  margin-bottom: 10%;
}
.works h2{
  font-size: 3.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: #3498DB;
}
.works p{
  line-height: 2.3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}
.color-azul-txt{
  color: #3498DB;
}
.color-blanco-txt{
  color: white;
}
.promise{
  padding-top: 10%;
}
.intro h2{
  font-size: 4.7rem;
  font-weight: 600;
}
.intro h4{
  font-size: 1.9rem;
  line-height: 3rem;
  font-weight: bold;
}
.icon{
  width: 50px;
  height: 50px;
  background-size: contain;
  display: inline-block;
}
.promesa{
  padding-top: 3%;
  text-align: left;
  position: relative;
  border-top: 1px solid #EEE;
}
.promesa-imagen{
  height: 64px;
}
.promesa-icono{
  width: 80px;
  height: 80px;
  display: inline-block;
}
.promesa h5{
  color: #6EA43F;
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-block;
  position: relative;
  top: -20px;
  padding: 20px 50px 20px 0;
}
.icon-small{
  width: 30px;
  height: 30px;
  background-size: contain;
  position: relative;
  top: 10px;
  float: right;
}
.mb-5{
  margin-bottom: 5%;
}
.promesa-info{
  padding-left: 2%;
  padding-right: 3%;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.our-community{
  background-color: #75B9E7;
  padding-bottom: 40%;
}
.testimonio{
  padding: 0 20px;
  margin-bottom: 30px;
}
.testimonio_autor{
  text-align: center;
  display: inline-block;
}
.testimonio_imagen{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: inline-block;
  background-size: cover;
  background-image: url("../img/background/testimonials.jpg");
}
.testimonio_name{
  font-size: 1.9rem;
  line-height: 2rem;
  font-weight: 600;
}
#nick{
  background-position: center bottom;
}
#renee{
  background-position: center;
}
.testimonio_lugar{
  font-size: 1.5rem;
  font-weight: 600;
}
.testimonio_info{
  display: inline-block;
  text-align: center;
}
.testimonio_info span{
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.3rem;
  display: inline-block;
}
.testimonio_info span.no-width{
  width: auto;
}
.rating{
  width: 120px;
  height: 30px;
  display: inline-block;
  background-size: contain;
  margin-top: 2%;
}

.checklist{
  background-color: #3498DB;
  padding-top: 50px;
}
@media screen and (min-width: 600px) {
  .section-portada{
    height: 87vh;
  }

  .icon--hero-bg{
    background-position: center;
    background-size: cover;
  }
  .works{
  }
  .work-icono{
    width: 275px;
    height: 275px;

  }
  .icono{
    top: 15%;
    left: 20%;
  }
  .works h2{
    font-size: 4.7rem;
    text-align:left;
  }
  .works p{
    font-size: 1.76rem;
    line-height: 3.5rem;
    text-align: left;
  }
  .promise{
    padding: 5%;
  }
  .intro h2{
    font-size: 6.5rem;
  }
  .intro h4{
    font-size: 2.3rem;
    line-height: 4rem;
  }
  .icon{
    width: 80px;
    height: 80px;
    display: inline-block;
  }
  .promesa{
    padding: 0 3%;
    margin-bottom: 10%;
    text-align: center;
    border: none;
  }
  .promesa-icono{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
  }
  .promesa h5{
    font-size: 1.8rem;
    top: 0;
    padding: 0;
  }
  .promesa-imagen{
    height: 120px;
  }
  .testimonio{
    padding: 40px 50px 0 50px;
  }
  .testimonio_name{
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
  .testimonio_lugar{
    font-size: 1.8rem;
  }
  .testimonio_info{
    text-align: left;
  }
  .testimonio_info span{
    font-size: 1.6rem;
    line-height: 3rem;
    width: 640px;
    letter-spacing: 0.1rem;
  }
  .our-community{
    padding-bottom: 15%;
  }

}
