body{
  font-family: "proxima-nova-soft";
}
@font-face {

  font-family: "proxima-nova-soft";

  font-style: normal;

  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");

}

.section-portada{
  width: 100%;
  height: 87vh;

}
.icon--hero-bg{
  background-position: center;
  background-size: cover;
}
.works{
  background-color: #F9F9F9;
  padding-top: 10%;
}
.work-icono{
  width: 225px;
  height: 225px;
  background-color: #FFCC66;
  position: relative;
  .center-block();
}
.icono{
  display: inline-block;
  width: 175px;
  height: 175px;
  position: absolute;
  top: 10%;
  left: 10%;
  background-size: contain;
}
.mb-10{
  margin-bottom: 10%;
}
.works h2{
  font-size: 3.3rem;
  color: #3498DB;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}
.works p{
  line-height: 2.3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .icon--hero-bg{
    background-position: center;
    background-size: cover;
  }
  .works{
  }
  .work-icono{
    width: 275px;
    height: 275px;

  }
  .icono{
    top: 15%;
    left: 20%;
  }
  .works h2{
    font-size: 4.7rem;
    text-align:left;
  }
  .works p{
    font-size: 1.76rem;
    line-height: 3.5rem;
    text-align: left;
  }

}
